@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
}

input:focus + .error-input {
  display: none;
}

.campaign-list .swiper-slide {
  width: 235px;
  height: auto;
  @apply mr-10 md:mr-16 4xl:mr-20;
}

.defaultBtnClassName {
  @apply p-4 text-base font-semibold flex items-center justify-center rounded-lg min-h-[56px];
}
